<template>
  <div id="app">
    <app-header></app-header>
    <router-view/>
  </div>
</template>

<script>
// importo el componente Header
import Header from './Header.vue'

export default {
  name: 'App',
  // debo instanciar el componete para poder hacer referencia a el en el template
  components: { 'app-header': Header }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 80%;
  margin: 0 auto;
}
</style>
