// componente que se encarga de pintar el header, donde aparece el logo de la empresa, mi nombre y el boton de readme. Para la maquetacion de este componente tambien he usado flexbox.
<template>
  <div class="header">
    <img src="./assets/logoGoi.jpg">
    <router-link to="/readme">{{ readme }}</router-link>
    <h1>{{ name }}</h1>
  </div>
</template>

<script>

export default {
  data () {
    return {
      name: 'Santiago Trigo Porres',
      readme: 'Readme'
    }
  }
}
</script>

<style lang="scss" scoped>
  .header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  img{
    width:20%;
  }
</style>
