// Este es el componente mas importtante, en el template 'pinto' las tareas que traido del end point dado, hay dos input que sirven para la busqueda de tareas y añadir tareas.
<template>
  <div id="container">
    <div id="search">
      <input type="search" v-model='search' placeholder="Buscar tarea">
      <input type="search" v-model='add' placeholder="Añadir tarea">
      <button type="button" @click='addDo(add)'>Añadir</button>
    </div>

    <div id="incompleted">
      <h1>To Do</h1>
      <div v-if="tarea.completed == false" v-for="tarea in serchDo" :key="tarea.id" class="items">
        <p>{{tarea.title}}</p>
        <h4 @click='remove($index)'>X</h4>
        <button type="button" @click='completarTarea(tarea)'>Completar</button>
      </div>
    </div>

    <div id="completed">
      <h1>Done</h1>
      <div v-if="tarea.completed == true" v-for="tarea in serchDo" :key="tarea.id" class="items" >
        <p>{{tarea.title}}</p>
        <h4 @click='remove($index)'>X</h4>
      </div>
    </div>
  </div>
</template>

<script>
// utilizo axios para la peticion http, un dato muy importante que sucede al usar axios y no otras es que a la hora de recibir la respuesta para poder recibir el array deseado debemos acceder a response.data.
import axios from 'axios'

export default {
  data () {
    return {
      // inicializo search y add como string vacios para despues poder usarlos, tareas es donde guardo la respuesta http por ese motivo inicializo array vacio.
      search: '',
      add: '',
      tareas: []
    }
  },
  created () {
    // peticion http a end point dado e igualado a this.tareas, variable donde se guardaran todas las tareas y se puede usar en cualquier metodo, computed...
    axios.get('https://jsonplaceholder.typicode.com/todos')
      .then((response) =>
        (this.tareas = response.data)
      )
  },
  methods: {
    // metodo invocado desde el boton 'completar', lo que hace es cambiar el valor booleam de tarea .completed. De esa manera la tarea pasara de la lista To Do a Done.
    completarTarea (tarea) {
      tarea.completed = !tarea.completed
    },
    addDo (add) {
      // creo un objeto al cual le añado de title el nombre que coloca el usuario en el input, por defecto la tarea no esta completada y se la asigno al user 1
      this.tareas.unshift({
        title: add,
        completed: false,
        userId: 1
      })
      // Despues de añadir la tarea al array, limpio el imput, para que le usuario pueda seguir introduciendo tareas directamente.
      this.add = ''
    },
    remove (index) {
      // Borrado de tarea
      this.tareas.splice(index, 1)
    }
  },
  computed: {
    serchDo () {
      // Con cada tecla pulsada en el input de busqueda renderizo las tareas que incluyan los caracteres que coincidan, en caso de no coincidir ninguna ambas columnas estaran en blanco.
      return this.tareas.filter((tareas) => { return tareas.title.includes(this.search) })
    }
  }
}
</script>

// Para la maquetacion he usado css grid para las tres areas que engloban inputs, tareas completadas y tareas incompletas. Los item de cada area estan maquetadas con flexbox.

<style lang="scss" scoped>
  #container{
    font-family: "Arvo";
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas:
      "search search"
      "incompleted completed"
  }

  #incompleted{
    grid-area: incompleted;
    border: 5px solid blue;
    border-radius: 20px;
  }

  #completed{
    grid-area: completed;
    border: 5px solid #6E0808;
    border-radius: 20px;
  }

  #search{
    grid-area: search;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  #search button{
    width: 200px;
    border-radius: 30px;
    padding: 16px;
    outline: none;
  }

  .items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 5px;
    height: auto;
  }

  .items p{
    width: 80%;
  }

  h4{
    cursor: pointer;
    font-size: 22px;
    margin: 0px;
  }

  #incompleted button{
    width: 60%;
    background-color: #1AE50B;
    border-radius: 30px;
    padding: 6px;
  }

input{
  display:block;
    width: 43%;
    padding: 15px 0 15px 12px;
    font-weight: 400;
    color: #377D6A;
    border: none;
    outline: none;
    color: blue;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    transition: all .3s ease-in-out;
    position: relative;
    font-size: 18px;
}

input:focus{
    text-indent: 12px;
}

</style>
