<template>
  <div id="container">
    <h1>{{ message }}</h1>
    <p>Buenos dias: en el codigo encontraras comentarios en los puntos mas importantes. Para la parte de test como test runner he usado jest. Sabe trabajar con jsdon ('virtualizacion del DOM'), se llevA bien con los Single File Component</p>

    <p>A modo organizativo yo prefero añadir los test en una carpeta especifica y no en cada archivo al que hace el test. Lo veo mas organizado y visual</p>

    <p>Como traductor SFC-ES6 Y ES5-ES6, ya que jest no lo trae por defecto uso vue-jest instalo vue-jest y babel-jest. Una herramienta para manipular los componetes vue que permita renderizar componentes, montarlos, crearlos, destruirlos, lanzar sus eventos nativos y personalizados. Uso vue-test-utils.</p>

    <p>En el package.json esta toda la configuracion y los test dentro de la carpeta test.</p>
  </div>
</template>

<script>
export default {
  data () {
    return {
      message: 'Prueba Tecnica Goi'
    }
  }
}
</script>

<style lang="scss" scoped></style>
